CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

composer.lock
Plugin/*
/app/webroot/files/*
/app/Controller/ScrapingkosatsuController.php
/app/Controller/Kosatsu1Controller.php
/app/View/Kosatsu1/*

